@charset "utf-8";
/* CSS Document */

body {
	font-family: "Avenir Next";
}
li {
	list-style: none;
}
.header {
 background-color:#B09FA0;
	color:#FFFFFF;
	height: 40px;
}
.lefthead li {
	float: left;
	padding: 13px 10px 13px 0px;
}
.righthead li {
	float: right;
	padding: 13px 10px;
}

.youser {
	padding-top: 30px;
}

.youser img {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 30px;
	margin-left: 80px;
	border: 1px solid black;
}

.mypro1 {
	font-size: 25px;
}

.mypro2 {
	color: #c0c0c0;
}

.send {
    padding: 10px 0px 0px 30px;
}

.mypro3 {
	padding-bottom: 40px;
	padding-right: 50px;
	border-bottom: 1px solid #333;
}

.mypro3 li {
	padding: 8px;
	float: right;
}

.mypro3-1{
	color: silver;
}

.room {
    color: #c0c0c0;
	float: left;
	border: 1px solid #c0c0c0;
	padding: 5px 50px 500px 50px;
	margin: 0px 10px 0px 100px;
}

.writelist {
    color: #c0c0c0;
	float: left;
	border: 1px solid #c0c0c0;
	padding: 5px 100px 600px 100px;
	margin: 0px 10px 0px 10px;
}

.ranking {
    color: #c0c0c0;
	float: left;
	border: 1px solid #c0c0c0;
	padding: 5px 50px 600px 50px;
	margin: 0px 10px 0px 10px;
}
