<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>プロフィール</title>
		<link rel="stylesheet" href="profuru.css">
	</head>

	<body>
		<div class="header">
    		<ul class="lefthead">
    			<a href=""><li>プロフィール編集</li></a>
				<a href=""><li>ユーザ検索</li></a>
   			</ul>
			<ul class="righthead">
				<a href=""><li>Log Out</li></a>
				<a href=""><li>MyName</li></a>
				<a href=""><li>チャット</li></a>
				<a href=""><li>掲示番</li></a>
			</ul>
    	</div>

		<div class="youser">
			<img src="kuroko.jpg">
			<div class="myprof">
				<p class="mypro1">Name : aaaaa　　ユーザID : aaaaa</p>
				<p class="mypro2"><a href="">aaaaa</a> 他aaaaaルームから招待を受けています。</p>
			</div>
			<ul class="mypro3">
				<a href=""><li class="mypro3-1">アカウント削除</li></a>
				<a href=""><li>プロフィールの編集</li></a>
			</ul>
		</div>

		<div class="room">
			<p>参加中のルーム</p>
			<% @aaaaa.each do |aaaaa| %>
				<div class="room1">
					<%= aaaaa %>
				</div>
			<% end %>
			<p>招待中のルーム</p>
			<% @aaaaa.each do |aaaaa| %>
				<div class="room2">
					<%= aaaaa %>
				</div>
			<% end %>
		</div>

		<div class="writelist">
			<p>自分の最近の書き込みのリスト</p>
			<% @aaaaa.each do |aaaaa| %>
				<div class="writelist1">
					<%= aaaaa %>
				</div>
			<% end %>
		</div>

		<div class="ranking">
			<p>掲示板のランキング</p>
			<% @aaaaa.each do |aaaaa| %>
				<div class="ranking1">
					<%= aaaaa %>
				</div>
			<% end %>
		</div>

	</body>
</html>
