.all-content-wrap {
  //height: 100%;
  //background: image-url('toyosu_images.jpg');
  background-color: white;
  //background-size: cover;
}

.main-content-wrap {
	text-align: center;
}

.header {
	color: #71B169;
	text-align: center;
	font-weight: 600;
}

.field{
  color:green;
}



.main-content {
	display: inline-block;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  line-height: 500px;
  vertical-align: middle;
	border: solid 10px rgb(113, 177, 105);
	font-size: 85px;
	color: rgb(113, 177, 105);
	text-decoration: none;
}
a,a:link{
	text-decoration: none;
	color:#71B169;
}
a:visited{
	text-decoration: none;
	color:#71B169;
}
a:hover{
	text-decoration: none;
	color:#71B169;
}
a:active{
	text-decoration: none;
	color:#71B169;
}
