.all-content-wrap {
  height: 100%;
  background: image-url('toyosu_images.jpg');
  //background-color: white;
  background-size: cover;
}

.main-content-wrap {
	text-align: center;
  padding:12px;
}

.main-content-wrap-r {
	text-align: center;
}

.header {
	color: #0B610B;
	text-align: center;
	font-weight: 600;
}

.field-r{
  color:#0B610B;
}

.parallel{
  float:left;
}

.mail{
  padding-right: 34.46px;
}

.actions{
  padding-top:24px;
}


.main-content {
	display: inline-block;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  line-height: 500px;
  vertical-align: middle;
	border: solid 10px rgb(113, 177, 105);
	font-size: 85px;
	color: rgb(113, 177, 105);
	text-decoration: none;
}

.main-content-r {
	display: inline-block;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  line-height: 500px;
  vertical-align: middle;
	border: solid 10px rgb(113, 177, 105);
	font-size: 85px;
	color: rgb(113, 177, 105);
	text-decoration: none;
}
.color-r{
  color:#0B610B;
}
a,a:link{
	text-decoration: none;
	color:#0B610B;
}
a:visited{
	text-decoration: none;
	color:#0B610B;
}
a:hover{
	text-decoration: none;
	color:#0B610B;
}
a:active{
	text-decoration: none;
	color:#0B610B;
}
