body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.all-content-wrap {
  height: 100%;
  background: image-url('opening_image.jpg');
  background-size: cover;
}

.main-content-wrap {
	text-align: center;
}

.header {
	color: rgb(113, 177, 105);
	text-align: center;
	font-weight: 600;
}

.main-content {
	display: inline-block;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  line-height: 500px;
  vertical-align: middle;
	border: solid 5px rgb(113, 177, 105);
	font-size: 80px;
	color: rgb(113, 177, 105);
	text-decoration: none;
}
